<h2>Edit User</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, id: "edit_user") do |f| %>
  <div>
    <%= f.label :username, "Username" %><br />
    <%= f.text_field :username %>
  </div>

  <div>
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :private, "Private account?" %>
    <%= f.check_box :private %>
  </div>

  <div>
    <%= f.label :password, "New password" %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation %>
  </div>

  <div>
    <%= f.label :current_password, "Current password" %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password %>
  </div>

  <%= f.submit "Update" %>
<% end %>

<%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
