<!DOCTYPE html>
<html>
<head>
  <title>Photogram</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  <%= javascript_pack_tag "application" if defined?(webpacker) %>

</head>
<body>
<nav class="bg-gray-800 p-4 text-white">
  <ul class="flex space-x-4">
    <li><%= link_to "All users", users_path, class: "hover:underline" %></li>
    <li><%= link_to "All public photos", photos_path, class: "hover:underline" %></li>

    <% if user_signed_in? %>
      <li><a href="/edit_user_profile"><%= current_user.username %></a></li>
      <li><a href="/user_sign_out">Sign out</a></li>
    <% else %>
      <li><%= link_to "Sign in", "/user_sign_in", class: "hover:underline" %></li>
      <li><%= link_to "Sign up", "/user_sign_up", class: "hover:underline" %></li>
    <% end %>
  </ul>
</nav>




  <div class="container mx-auto mt-4">
    <%= yield %>  <!-- This ensures the content from `users/index.html.erb` appears -->
  </div>
</body>
</html>
